*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* comment */
  :root {
    --hue-neutral: 200;
    --hue-selected: 180;
    --saturation-unavailable: 20%; 
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    place-self: center;
    padding: 10px
  }

  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.selected {
    --hue: var(--hue-selected);
  }

  #hud {
    display: flex;
    flex-flow: column;
    width: 1200px;
    max-width: 80%;
    justify-content: space-between;
  }

  #hud-text {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    place-self: center;
  }

  #progress-bar {
    width: 85%;
    place-self: center;
    height: 1.5rem;
    border: 0.2rem solid black;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    overflow: hidden;
  }

  #progress-bar-full {
    height: 100%;
    background: hsl(var(--hue-selected), 100%, 50%);
    width:0%;
  }
  
  .container {
    width: 1200px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 1.5rem;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.selected {
    --hue: var(--hue-selected);
    color: black;
  }

  .btn.unavailable {
    --hue: var(--hue-neutral);
    --saturation: var(--saturation-unavailable);
    color: rgb(4, 45, 99);
    background-color: hsl(var(--hue), var(--saturation), 50%);
  }

  .slide {
    display: grid;
  }

  .continue-btn {
   text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px;
  }

  .controls {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    width: 100%;
  }

  .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px;
    place-self: end end;
  }

  .prev-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px;
    place-self: end start;
  }

  .finish-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px;
    place-self: center center;
    position: fixed;
    margin-bottom: 1;
  }

  .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 5px;
    margin-left: auto;
    place-self: end end;
  }
  
  .hide {
    display: none;
  }